.card-form{
    background-color: #FFFFFF;
    width: 45%;
    height: 70%;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
}

#loginForm{
  display: flex;
  flex-direction: column; /* mantiene gli elementi in colonna */
  justify-content: center; /* centro verticale */
  align-items: center;    /* centro orizzontale */
  height: 100%;
}

#registerForm{
  display: flex;
  flex-direction: column; /* mantiene gli elementi in colonna */
  justify-content: center; /* centro verticale */
  align-items: center;    /* centro orizzontale */
  height: 100%;
}

input{
  width: 300px;
  font-size: 16px;         /* aumenta la dimensione del testo */
  line-height: 35px;       /* forza l’altezza interna */
  padding: 0 10px;         /* padding solo orizzontale */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
  -webkit-appearance: none; /* Safari/Chrome reset */
  -moz-appearance: none;    /* Firefox reset */
  appearance: none;
}

button{
    background-color: #3AB795;
    font-weight: bold;
    border-radius: 10px;
    width: 150px;
    line-height: 25px;       /* forza l’altezza interna */
    border-style: solid;
}

button:hover{
    background-color: #5ED0A1;
}

/* Regole per il form di registrazione in due step */
.step { 
    display: none; 
  }

.step.active { 
    display: block; 
  }