body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* prende tutta l’altezza dello schermo */
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  width: 100vw;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;            /* centra verticalmente logo e menu */
  justify-content: center;        /* centra orizzontalmente logo + menu */
  background-color: #2b4cb1;
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  margin-right: 40px; /* spazio tra logo e menu */
}

.navbar .menu {
  display: flex; /* menu in orizzontale */
  align-items: center;  /* centra verticalmente i blocchi */
}

.navbar .menu a {
  display: flex;             /* rende l'intero blocco cliccabile */
  align-items: center;       /* centra il testo verticalmente */
  justify-content: center;   /* centra il testo orizzontalmente */
  width: 120px;              /* larghezza blocco cliccabile */
  height: 60px;              /* altezza della navbar */
  color: white;
  text-decoration: none;
  transition: background 0.5s;
}

.navbar .menu a:hover {
  background-color: #555;
}

header{
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
  height: 45vh;  
}

.bar-fixed{
  background-color: #2b4cb1;
  position: fixed;
  width: 100%;
  height: 20vh;
}

.space-header {
  position: relative;
  width: 70%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2B3A67;
  background-image: url("../assets/backopa.png");
  background-position: center;
  background-repeat: no-repeat;
}

.space-header .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(to right, rgba(0, 60, 189, 0.5), rgba(0, 1, 53, 0.5));
  pointer-events: none; /* lascia interagire con gli elementi sotto */
}

.overlay-image {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  z-index: 2
}


.container{
  flex: 1; /* prende tutto lo spazio rimasto sotto l’header */
  display: flex;
  justify-content: center;
  align-items: center;    /* centro orizzontale */
  height: 75vh;          /* serve perché justify-content centri verticalmente */
  width: 100vw;
}

/* Contenuto principale */
#main-content {
  margin-top: 60px; /* lascia spazio alla navbar */
  padding-top: 20px;
}