body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* prende tutta l’altezza dello schermo */
    margin: 0;
    background-color: #2B3A67;
    font-family: Arial, sans-serif;
    width: 100vw;
    background-image: url("../assets/backopa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


body .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to right, rgba(0, 60, 189, 0.5), rgba(0, 1, 53, 0.5));
    pointer-events: none;
    /* lascia interagire con gli elementi sotto */
}

.container {
    flex: 1;
    flex-direction: column;
    /* prende tutto lo spazio rimasto sotto l’header */
    display: flex;
    justify-content: center;
    align-items: center;
    /* centro orizzontale */
    height: 100%;
    /* serve perché justify-content centri verticalmente */
    width: 100vw;
}

.row {
    background-color: #FFFFFF;
    width: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* metti elementi in colonna */
    align-items: center;
    /* centra orizzontalmente il canvas */
    text-align: left;
    /* h4 resta a sinistra */
}

.row h3 {
    align-self: flex-start;
    /* forza h4 allineato a sinistra */
    max-width: 100%;
    line-height: 1.4;
    /* per due righe se necessario */
    margin: 2%;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.transaction.income {
  color: green;
}

.transaction.expense {
  color: red;
}


